@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 120vh;
  font-family: 'Poppins';
}

.container {
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-container {
  display: inline-flex;
  border: 1px solid #073f4a65;
  border-radius: 15px;
  margin-top: 2%;
  background: #ffff;
}


audio {
  transform: translateX(50px);
  border: 1px solid #073f4a65;
  border-radius: 70px;
}


.input-container input {
  border: none;
  padding: .55rem;
  border-radius: 999px;
  outline: none;
}


.clear-svg {
  color: white;
  background: #073f4a65;
  border-radius: 15px;
  padding: .55rem 1.06rem;
  border: none;
}


.search-svg {
  color: #00000033;
  border-radius: 999px;
  padding: .55rem .6rem;
  border: none;
}


.empty-msg-container {
  width: 50%;
  display: flex;
  margin-top: 6%;
}


.empty-msg, .loading-msg {
  text-align: center;
  color: grey;
}


.word-display-container, .err-display-container {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #00000039;
  padding: 2rem;
}


.word-display-container {
  width: 100%;
  max-width: 400px;
}


.word {
  text-align: center;
  font-size: 1.4rem;
}


.definition, .example,  .synonym {
  width: 100%;
  max-width: 360px;
  border-left: 5px solid #073f4a65;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.159);
}


.pos, .text {
  color: grey;
}
